---


- name: Set vm variable if not exists
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vm is not defined
  ansible.builtin.set_fact:
    vm: {}


- name: Combine vSphere variables
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vsphere_vm is defined
  ansible.builtin.set_fact:
    vm: "{{ vsphere_vm | ansible.builtin.combine(vm, list_merge='replace', recursive=true) }}"


- name: Build vSphere folder path
  become: false
  connection: local
  delegate_to: localhost
  ansible.builtin.set_fact:
    vsphere_path: "{{ [vm.parent_folder | default(''), vm.folder | default('')] | select() }}"


- name: Convert vSphere virtual machine to template
  become: false
  connection: local
  delegate_to: localhost
  community.vmware.vmware_guest:
    advanced_settings:
      - key: guestinfo.metadata
        value: ""
      - key: guestinfo.metadata.encoding
        value: ""
      - key: guestinfo.userdata
        value: ""
      - key: guestinfo.userdata.encoding
        value: ""
    cluster: "{{ vsphere.cluster }}"
    datacenter: "{{ vsphere.datacenter }}"
    datastore: "{{ vsphere.datastore }}"
    folder: "/{{ vsphere_path | join('/') }}"
    hardware:
      memory_mb: "{{ vm.template_memory_mb | default(omit) }}"
      num_cpus: "{{ vm.template_num_cpus | default(omit) }}"
    hostname: "{{ vcenter.hostname }}"
    is_template: true
    name: "{{ vm.name | default(vm.hostname) | default(inventory_hostname_short) }}"
    name_match: first
    password: "{{ vcenter.password }}"
    username: "{{ vcenter.username }}"
    validate_certs: true
