---


- name: Set vm variable if not exists
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vm is not defined
  ansible.builtin.set_fact:
    vm: {}


- name: Combine vSphere variables
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vsphere_vm is defined
  ansible.builtin.set_fact:
    vm: "{{ vsphere_vm | ansible.builtin.combine(vm, list_merge='replace', recursive=true) }}"


- name: Build vSphere folder path
  become: false
  connection: local
  delegate_to: localhost
  ansible.builtin.set_fact:
    vsphere_path: "{{ [vm.parent_folder | default(''), vm.folder | default('')] | select() }}"


- name: Convert vSphere template to virtual machine
  become: false
  connection: local
  delegate_to: localhost
  community.vmware.vmware_guest:
    cluster: "{{ vsphere.cluster }}"
    datacenter: "{{ vsphere.datacenter }}"
    datastore: "{{ vsphere.datastore }}"
    folder: "/{{ vsphere_path | join('/') }}"
    hostname: "{{ vcenter.hostname }}"
    is_template: false
    name: "{{ vm.name | default(vm.hostname) | default(inventory_hostname_short) }}"
    name_match: first
    password: "{{ vcenter.password }}"
    username: "{{ vcenter.username }}"
    validate_certs: true


- name: Delete vSphere virtual machine
  become: false
  connection: local
  delegate_to: localhost
  community.vmware.vmware_guest:
    cluster: "{{ vsphere.cluster }}"
    datacenter: "{{ vsphere.datacenter }}"
    datastore: "{{ vsphere.datastore }}"
    delete_from_inventory: true
    folder: "/{{ vsphere_path | join('/') }}"
    hostname: "{{ vcenter.hostname }}"
    name: "{{ vm.name | default(vm.hostname) | default(inventory_hostname_short) }}"
    name_match: first
    password: "{{ vcenter.password }}"
    state: absent
    username: "{{ vcenter.username }}"
    validate_certs: true
