---


# Module documentation
# https://docs.ansible.com/ansible/latest/collections/community/vmware/vcenter_folder_module.html


- name: Set vm variable if not exists
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vm is not defined
  ansible.builtin.set_fact:
    vm: {}


- name: Combine vSphere variables
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vsphere_vm is defined
  ansible.builtin.set_fact:
    vm: "{{ vsphere_vm | ansible.builtin.combine(vm, list_merge='replace', recursive=true) }}"


- name: Create virtual machine parent folder
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vm.parent_folder is defined
  community.vmware.vcenter_folder:
    datacenter: "{{ vsphere.datacenter }}"
    folder_name: "{{ vm.parent_folder }}"
    folder_type: vm
    hostname: "{{ vcenter.hostname }}"
    password: "{{ vcenter.password }}"
    state: present
    username: "{{ vcenter.username }}"
    validate_certs: true


- name: Create virtual machine folder
  become: false
  connection: local
  delegate_to: localhost
  when:
    - vm.folder is defined
  community.vmware.vcenter_folder:
    datacenter: "{{ vsphere.datacenter }}"
    folder_name: "{{ vm.folder }}"
    folder_type: vm
    hostname: "{{ vcenter.hostname }}"
    parent_folder: "{{ vm.parent_folder | default(omit) }}"
    password: "{{ vcenter.password }}"
    state: present
    username: "{{ vcenter.username }}"
    validate_certs: true
