---


# Module documentation
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/dnf_module.html


- name: Update and upgrade APT packages
  become: true
  when:
    - ansible_facts.os_family == "Debian"
  ansible.builtin.apt:
    autoclean: true
    autoremove: true
    cache_valid_time: 3600
    clean: true
    install_recommends: false
    purge: true
    update_cache: true
    upgrade: dist


- name: Update and upgrade RPM packages
  become: true
  when:
    - ansible_facts.os_family == "RedHat"
  ansible.builtin.dnf:
    autoremove: true
    name: "*"
    state: latest
