- name: Install packages
  become: true
  ansible.builtin.package:
    name: "{{ podman_distro_info[ansible_facts.distribution].packages | default(podman_family_info[ansible_facts.os_family].packages) }}"
    state: present


- name: Enable services
  become: true
  loop: "{{ podman_distro_info[ansible_facts.distribution].services | default(podman_family_info[ansible_facts.os_family].services) }}"
  loop_control:
    loop_var: service
  ansible.builtin.systemd_service:
    enabled: true
    name: "{{ service }}"


- name: Start services
  become: true
  loop: "{{ podman_distro_info[ansible_facts.distribution].services | default(podman_family_info[ansible_facts.os_family].services) }}"
  loop_control:
    loop_var: service
  ansible.builtin.systemd_service:
    name: "{{ service }}"
    state: started


- name: Copy configuration files
  become: true
  loop: "{{ podman_distro_info[ansible_facts.distribution].templates | default(podman_family_info[ansible_facts.os_family].templates) }}"
  loop_control:
    label: "{{ template_file.src }}"
    loop_var: template_file
  notify: podman_config
  ansible.builtin.template:
    dest: "{{ template_file.dest }}"
    group: "{{ template_file.group }}"
    mode: "{{ template_file.mode }}"
    owner: "{{ template_file.owner }}"
    src: "{{ template_file.src }}.j2"


- name: Enable lingering
  become: true
  changed_when: false
  ansible.builtin.command:
    cmd: "loginctl enable-linger {{ ansible_user }}"


- name: Flush handlers
  ansible.builtin.meta: flush_handlers
