---


# Module documentation
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html


- name: Cleaning Repo Cache
  become: true
  changed_when: false
  listen: refresh-repos-debian
  ansible.builtin.command:
    cmd: apt clean all


- name: Updating Local Repo Cache
  become: true
  changed_when: false
  listen: refresh-repos-debian
  ansible.builtin.command:
    cmd: apt update


- name: Cleaning Repo Cache
  become: true
  listen: refresh-repos-redhat
  ansible.builtin.command:
    cmd: dnf clean all
    removes: /var/lib/dnf/history.sqlite
