---


- name: Restart services
  become: true
  listen: keepalived_config
  loop: "{{ keepalived_distro_info[ansible_facts.distribution].services | default(keepalived_family_info[ansible_facts.os_family].services) }}"
  loop_control:
    loop_var: service
  ansible.builtin.systemd_service:
    name: "{{ service }}"
    state: restarted
