# Originally from:
# https://github.com/grafana/alloy/blob/main/packaging/environment-file

# The configuration file holding the Alloy config.
CONFIG_FILE="/etc/alloy/"

# User-defined arguments to pass to the run command.
CUSTOM_ARGS=" --disable-reporting --server.http.disable-support-bundle --server.http.enable-pprof=false --storage.path=/var/lib/alloy/data-alloy"
