// Loki relabeling
loki.relabel "journal" {
  forward_to = [loki.process.cleanup.receiver]
  rule {
    source_labels = ["journal_syslog_identifier"]
    target_label  = "service_name"
  }
  rule {
    action      = "labelmap"
    regex       = "^__journal__([a-z].*)"
    replacement = "journal_${1}"
  }
  rule {
    action      = "labelmap"
    regex       = "^__journal_([a-z].*)"
    replacement = "journal_${1}"
  }
}


// Get systemd journal Logs
loki.source.journal "default" {
  relabel_rules = loki.relabel.journal.rules
  forward_to = [loki.relabel.journal.receiver]
  labels = {
    hostname = sys.env("HOSTNAME"),
  }
}


// Process logs to create structured metadata labels
loki.process "cleanup" {
  stage.structured_metadata {
    regex = "journal_.*"
  }
  forward_to = [loki.relabel.drop_temporary_labels.receiver]
}


// Drop temporary labels used for processing
loki.relabel "drop_temporary_labels" {
  forward_to = [otelcol.receiver.loki.default.receiver]
  rule {
    action = "labeldrop"
    regex  = "^journal_.*"
  }
  rule {
    action = "labeldrop"
    regex  = "^job"
  }
  rule {
    action = "labeldrop"
    regex  = "^_.*"
  }
}


// Convert logs to otel
otelcol.receiver.loki "default" {
  output {
    logs = [otelcol.processor.batch.default.input]
  }
}
