/*
// Loki relabeling
loki.relabel "journal" {
  forward_to = [loki.process.cleanup.receiver]
  rule {
    source_labels = ["journal_syslog_identifier"]
    target_label  = "service_name"
  }
  rule {
    action      = "labelmap"
    regex       = "^__journal__([a-z].*)"
    replacement = "journal_${1}"
  }
  rule {
    action      = "labelmap"
    regex       = "^__journal_([a-z].*)"
    replacement = "journal_${1}"
  }
}

// Get systemd journal Logs
loki.source.journal "default" {
  relabel_rules = loki.relabel.journal.rules
  forward_to = [loki.relabel.journal.receiver]
  labels = {
    hostname = sys.env("HOSTNAME"),
  }
}

// Process logs to create structured metadata labels
loki.process "cleanup" {
  stage.structured_metadata {
    regex = "journal_.*"
  }
  forward_to = [loki.relabel.drop_temporary_labels.receiver]
}

// Drop temporary labels used for processing
loki.relabel "drop_temporary_labels" {
  forward_to = [otelcol.receiver.loki.default.receiver]
  rule {
    action = "labeldrop"
    regex  = "^journal_.*"
  }
  rule {
    action = "labeldrop"
    regex  = "^job"
  }
  rule {
    action = "labeldrop"
    regex  = "^_.*"
  }
}

// Convert logs to otel
otelcol.receiver.loki "default" {
  output {
    logs = [otelcol.processor.batch.default.input]
  }
}
*/

// Get systemd journal Logs
loki.source.journal "default" {
  format_as_json = true
  forward_to = [otelcol.receiver.loki.default.receiver]
}

// Send logs to otel
otelcol.receiver.loki "default" {
  output {
    logs = [otelcol.processor.transform.journald.input]
  }
}

otelcol.processor.transform "journald" {
  error_mode = "ignore"
  log_statements {
    context = "log"
    statements = [
      // unpack
      `merge_maps(resource.attributes, ParseJSON(log.body), "upsert") where IsMatch(log.body, "^\\{")`,
      `merge_maps(resource.attributes, ParseJSON(resource.attributes["MESSAGE"]), "upsert") where IsMatch(resource.attributes["MESSAGE"], "^\\{") and resource.attributes["MESSAGE"] != nil`,
      // pupulate the log message
      `set(log.body, nil)`,
      `set(log.body, resource.attributes["msg"]) where resource.attributes["msg"] != nil`,
      `set(log.body, resource.attributes["MESSAGE"]) where resource.attributes["MESSAGE"] != nil and resource.attributes["msg"] == nil`,
      `delete_key(resource.attributes, "msg")`,
      `delete_key(resource.attributes, "MESSAGE")`,
       // set the service name
      `set(resource.attributes["service.name"], resource.attributes["SYSLOG_IDENTIFIER"]) where resource.attributes["service.name"] == nil and resource.attributes["SYSLOG_IDENTIFIER"] != nil`,
      `set(resource.attributes["service.name"], resource.attributes["_SYSTEMD_UNIT"]) where resource.attributes["service.name"] == nil and resource.attributes["_SYSTEMD_UNIT"] != nil`,
      // set the log level
      `set(resource.attributes["level"], resource.attributes["PRIORITY"]) where resource.attributes["level"] == nil and resource.attributes["PRIORITY"] != nil`,
    ]
  }
  output {
    logs = [otelcol.processor.transform.log_labels.input]
  }
}
