- name: Add DNS A records
  loop: "{{ dns_records }}"
  loop_control:
    loop_var: dns_record
  when:
    - dns_record.type is defined
    - dns_record.type == "A"
  ansible.builtin.include_tasks:
    file: a.yml


- name: Add DNS AAAA records
  loop: "{{ dns_records }}"
  loop_control:
    loop_var: dns_record
  when:
    - dns_record.type is defined
    - dns_record.type == "AAAA"
  ansible.builtin.include_tasks:
    file: aaaa.yml


- name: Add DNS CNAME records
  loop: "{{ dns_records }}"
  loop_control:
    loop_var: dns_record
  when:
    - dns_record.type is defined
    - dns_record.type == "CNAME"
  ansible.builtin.include_tasks:
    file: cname.yml
