- name: Restart services
  become: true
  listen: open_vm_tools_config
  loop: "{{ open_vm_tools_distro_info[ansible_facts.distribution].services | default(open_vm_tools_family_info[ansible_facts.os_family].services) }}"
  loop_control:
    loop_var: service
  ansible.builtin.systemd_service:
    name: "{{ service }}"
    state: restarted
