- name: Copy proxy configs
  become: true
  loop:
    - 55-ceph-rgw.cfg
    - 55-ceph-dashboard.cfg
  loop_control:
    loop_var: file
  notify: haproxy_reload
  ansible.builtin.template:
    dest: "/etc/haproxy/conf.d/{{ file }}"
    group: root
    mode: "0644"
    owner: root
    src: "{{ file }}.j2"


- name: Add proxy backend config
  become: true
  vars:
    proxy:
      - name: ceph-dashboard
        alpn: alpn h2,http/1.1
        cert: "{{ ceph_rgw_cert }}"
        https_frontend_config: "use_backend ceph-dashboard if { hdr_end(host) -i ceph.{{ domain_name }} }"
      - name: ceph-rgw-http
        alpn: alpn h2,http/1.1
        http_frontend_config: "use_backend ceph-rgw-http if { hdr_end(host) -i s3.{{ domain_name }} }"
      - name: ceph-rgw-https
        alpn: alpn h2,http/1.1
        cert: "{{ ceph_rgw_cert }}"
        https_frontend_config: "use_backend ceph-rgw-https if { hdr_end(host) -i s3.{{ domain_name }} }"
  ansible.builtin.import_role:
    name: haproxy
    tasks_from: add_proxy.yml


- name: Flush handlers
  ansible.builtin.meta: flush_handlers
