---


ceph_distro_info:
  Ubuntu:
    packages:
      - ceph-common
      - cephadm
      - lvm2
      - smartmontools
      - systemd-timesyncd


ceph_ceph_version: 19.2.1


# This should match what is in your inventory file
# Usually a fqdn
# ceph_bootstrap_host: ceph-1.example.com


# ceph_dashboard_username: admin
# ceph_dashboard_password: password


# ceph_ssh_home_directory: /var/lib/cephadm
# ceph_ssh_user_group: nogroup
# ceph_ssh_owner: cephadm


# ceph_ssh_private_key: |
#   -----BEGIN OPENSSH PRIVATE KEY-----
#   -----END OPENSSH PRIVATE KEY-----


# ceph_ssh_public_key: ssh-rsa ...


# ceph_dashboard_cert: |
#  -----BEGIN CERTIFICATE-----
#  -----END CERTIFICATE-----


# ceph_dashboard_key: |
#  -----BEGIN PRIVATE KEY-----
#  -----END PRIVATE KEY-----


# ceph_grafana_cert: |
#  -----BEGIN CERTIFICATE-----
#  -----END CERTIFICATE-----


# ceph_grafana_key: |
#  -----BEGIN PRIVATE KEY-----
#  -----END PRIVATE KEY-----


# ceph_s3buckets_cert: |
#  -----BEGIN CERTIFICATE-----
#  -----END CERTIFICATE-----


# ceph_s3buckets_key: |
#  -----BEGIN PRIVATE KEY-----
#  -----END PRIVATE KEY-----


ceph_commands:
  # https://florian.ca/ceph-calculator/
  # https://bennetgallein.de/tools/ceph-calculator
  - osd set-nearfull-ratio .75
  - config set mgr mgr/dashboard/redirect_resolve_ip_addr true
  - config set mgr mgr/cephadm/config_checks_enabled true
  - config set mon mon_allow_pool_delete true
  - config set mgr mgr/cephadm/secure_monitoring_stack true
  - mgr module enable rgw

# Enable secure communications
# https://docs.clyso.com/docs/products/clyso-enterprise-storage/kb/general/
  - config set global ms_client_mode secure
  - config set global ms_cluster_mode secure
  - config set global ms_service_mode secure
  - config set global ms_mon_client_mode secure
  - config set global ms_mon_cluster_mode secure
  - config set global ms_mon_service_mode secure

  - dashboard set-audit-api-enabled true
  - orch apply alertmanager --placement="label:alertmanager"
  - orch apply cephfs-mirror --placement="label:cephfs-mirror"
  # - orch apply elasticsearch --placement="label:elasticsearch"
  - orch apply grafana --placement="label:grafana"
  # - orch apply jaeger-agent --placement="label:jaeger-agent"
  # - orch apply jaeger-collector --placement="labl:jaeger-collector"
  # - orch apply jaeger-query --placement="label:jaeger-query"
  - orch apply loki --placement="label:loki"
  - orch apply mgr --placement="label:mgr"
  # - orch apply mon --placement="label:mon"
  - orch apply osd --all-available-devices
  - orch apply prometheus --placement="label:prometheus"
  - orch apply promtail
  - orch apply rbd-mirror --placement="label:rbd"

  - config-key set mgr/cephadm/cert_store.cert.grafana_cert -i /root/grafana.crt.json
  - config-key set mgr/cephadm/cert_store.key.grafana_key -i /root/grafana.key.json
  - config-key set mgr/cephadm/grafana_key -i /root/dashboard.key
  - config-key set mgr/cephadm/grafana_crt -i /root/dashboard.crt
  - orch restart mgr
  - orch redeploy grafana

  - config set client.rgw rgw_dns_name s3.{{ domain_name }}
  - rgw realm bootstrap s3_realm s3_zonegroup s3_zone
  # - config-key set mgr/cephadm/cert_store.cert.rgw_frontend_ssl_cert -i /root/s3buckets.crt.json
  # - config-key set rgw/cert/s3_realm/s3_zone.crt -i s3buckets.crt
  # - config-key set rgw/cert/s3_realm/s3_zone.key -i s3buckets.key
  # - orch apply rgw s3_realm.s3_zone --placement="label:rgw" --ssl
  - orch apply rgw s3_realm.s3_zone --placement="label:rgw"

  - orch apply mds files --placement="label:mds"
  - orch apply nfs files --placement="label:nfs"
