--unattended
--admin-password={{ freeipa_server_admin_user_password }}
{{ '--allow-zone-overlap' if freeipa_server_allow_zone_overlap }}
--domain={{ freeipa_server_domain_tld | lower }}
--ds-password={{ freeipa_server_directory_password }}
{% for forwarder in freeipa_server_dns_forwarders %}
--forwarder={{ forwarder }}
{% endfor %}
--netbios-name={{ freeipa_server_domain | upper }}
{{ '--no-dnssec-validation' if freeipa_server_no_dnssec_validation }}
{{ '--no-host-dns' if freeipa_server_no_host_dns }}
{{ '--no-ntp' if freeipa_server_no_ntp }}
{{ '--random-serial-numbers' if freeipa_server_random_serial_numbers }}
--realm={{ freeipa_server_domain_tld | upper }}
{{ '--setup-adtrust' if freeipa_server_setup_adtrust }}
{{ '--setup-dns' if freeipa_server_setup_dns }}
{{ '--setup-kra' if freeipa_server_setup_kra }}
{{ '--subid' if freeipa_server_subid }}
