$TTL {{ zone.ttl | default(60) }}
@       IN  SOA  {{ bind_primary_server_hostname }}. admin.{{ zone.zone }}. (
            {{ zone.serial | default(1) }} ; serial
            {{ zone.refresh | default(120) }} ; refresh
            {{ zone.retry | default(60) }} ; retry
            {{ zone.expire | default(60) }} ; expire
            {{ zone.minimum | default(60) }} ; minimum
            )
        IN NS {{ bind_primary_server_hostname }}.
{% if zone.ns is defined %}
{% for record in zone.ns %}
        IN NS {{ record }}
{% endfor %}
{% else %}
{% if bind_secondary_servers is defined %}
{% for secondary in bind_secondary_servers %}
        IN NS {{ secondary.hostname }}.
{% endfor %}
{% endif %}
{% endif %}

{% if zone.hosts is defined %}
{% for record in zone.hosts %}
{% if record.a is defined %}
{% for a in record.a %}
{{ record.name }} IN A {{ a }}
{% endfor %}
{% endif %}
{% if record.aaaa is defined %}
{% for aaaa in record.aaaa %}
{{ record.name }} IN AAAA {{ aaaa }}
{% endfor %}
{% endif %}
{% if record.cname is defined %}
{{ record.name }} IN CNAME {{ record.cname }}
{% endif %}
{% if record.https is defined %}
{% for https in record.https %}
{{ record.name }} IN HTTPS {{ https }}
{% endfor %}
{% endif %}
{% if record.mx is defined %}
{% for mx in record.mx %}
{{ record.name }} IN MX {{ mx }}
{% endfor %}
{% endif %}
{% if record.srv is defined %}
{% for srv in record.srv %}
{{ record.name }} IN SRV {{ srv }}
{% endfor %}
{% endif %}
{% if record.svcb is defined %}
{% for svcb in record.svcb %}
{{ record.name }} IN SVCB {{ svcb }}
{% endfor %}
{% endif %}
{% if record.txt is defined %}
{% for txt in record.txt %}
{{ record.name }} IN TXT {{ txt }}
{% endfor %}
{% endif %}
{% if record.uri is defined %}
{% for uri in record.uri %}
{{ record.name }} IN URI {{ uri }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

; vim: set filetype=bindzone ts=4 :
