---


- name: Create certificate directories
  become: true
  loop: "{{ container_registry_mirrors }}"
  loop_control:
    label: "{{ mirror.name }}"
    loop_var: mirror
  ansible.builtin.file:
    group: root
    mode: "0755"
    owner: root
    path: "/etc/registry-mirrors/{{ mirror.name }}"
    state: directory


- name: Create TLS certificates
  become: true
  loop: "{{ container_registry_mirrors }}"
  loop_control:
    label: "{{ mirror.name }}"
    loop_var: mirror
  vars:
    certificate: "{{ mirror.tls_cert }}"
  ansible.builtin.template:
    dest: "/etc/registry-mirrors/{{ mirror.name }}/tls.crt"
    group: root
    mode: "0755"
    owner: "{{ ansible_user }}"
    src: certificate.j2


- name: Create TLS keys
  become: true
  loop: "{{ container_registry_mirrors }}"
  loop_control:
    label: "{{ mirror.name }}"
    loop_var: mirror
  vars:
    certificate: "{{ mirror.tls_key }}"
  ansible.builtin.template:
    dest: "/etc/registry-mirrors/{{ mirror.name }}/tls.key"
    group: root
    mode: "0755"
    owner: "{{ ansible_user }}"
    src: certificate.j2


- name: Run container registry mirror
  become: false
  loop: "{{ container_registry_mirrors }}"
  loop_control:
    label: "{{ mirror.name }}"
    loop_var: mirror
  containers.podman.podman_container:
    cpus: 1.0
    detach: true
    env:
      REGISTRY_HTTP_HEADERS_X-Content-Type-Options_0: "nosniff"
      REGISTRY_HTTP_HTTP2_DISABLED: false
      REGISTRY_HTTP_SECRET: containerregistrymirror
      REGISTRY_HTTP_TLS_CERTIFICATE: /certs/tls.crt
      REGISTRY_HTTP_TLS_KEY: /certs/tls.key
      REGISTRY_PROXY_REMOTEURL: "https://{{ mirror.url }}"
      REGISTRY_PROXY_TTL: 672h
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
    image: docker.io/library/registry:2.8.3
    image_strict: true
    image_volume: ignore
    # memory: 256m
    name: "registry-mirror-{{ mirror.name }}"
    publish:
      - "{{ mirror.port }}:5000/tcp"
    pull: missing
    read_only: true
    read_only_tmpfs: true
    restart_policy: always
    shm_size: 8m
    shm_size_systemd: 8m
    state: started
    timezone: local
    tls_verify: true
    volume:
      - /var/lib/registry
      - "/etc/registry-mirrors/{{ mirror.name }}:/certs"
